.wrapperMembers {

  color: #0f7dc6;
  padding: 20px 20px  0 20px;
  display: flex;
  flex-direction: column;
  gap:10px;
  width: 90%;
}
.wrapperMemberLogin{
  display: flex;
  justify-content: space-between;
}